const secrets = {
    sentryDSN: 'https://00000000000000000000000000000000@sentry.io/111111',
    google: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    mapyCz: 'eyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
};

export default secrets;
